html,
body {
	height: 100%;
	width: 100%;
}

.container {
	background: #aaa;
	width: 100%;
}

h2 {
	font-size: 50px;
}

.cm-dataviz {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.dataviz_path.active {
	stroke: black;
}

.dataviz_vl {
	position: absolute;
	height: 100%;
	background-color: #fff;
	width: 1px;
	top: 0;
	left: 0;
}
